body {
    background-color: #282c34;
}

.group-wrapper {
    font-size: 0.7rem;
    display: flex;
    background-color: #dfdfdf;
    flex-direction: column;
    color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    min-width: 150px;
}

.group-wrapper > div:not(.group-title):not(.modal) {
    padding: 5px;
    border-radius: 4px;
    margin: 2px 2px;
}

.groups-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.group-wrapper > div[data-react-beautiful-dnd-placeholder] {
    background-color: #dfdfdf;
}

.group-wrapper > div.add-player, div.add-group-marker {
    opacity: 0.6;
    padding: 5px;
    font-size: 0.7rem;
}

.player-in-group {
    background-color: white;
}
.group-marker {
    background-color: lightskyblue;
}
.pending-player {
    background-color: yellow;
}
.deactivated-player {
    text-decoration: line-through;
    background-color: violet;
}
.promoted-player {
    background-color: palegreen;
}
.demoted-player {
    background-color: tomato;
}

#submit-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

#playerboard-legend {
    position: fixed;
    top: 70px;
    right: 15px;
}

.slack-users {
    font-size: 11px;
    display : block;
}