label {
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
}
.editext-editor {
  display: inline-block;
}
.inline-editor {
  padding-top: 10px;
}
.league-selector {
  padding-top: 10px;
}
.new-league-inputs {
  float: right;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container {
  display: inline-block;
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}